@page
@model SearchPaginationEnd.Pages.CategoryModel
@{
}

<h1>Alla Products inom Category: @Model.CategoryName</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                Product Name
                <a asp-page="/Category"
                   asp-route-sortColumn="ProductName"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
                <a asp-page="/Category"
                   asp-route-sortColumn="ProductName"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Unit Price
                <a asp-page="/Category"
                   asp-route-sortColumn="UnitPrice"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
                <a asp-page="/Category"
                   asp-route-sortColumn="UnitPrice"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Units in Stock
                <a asp-page="/Category"
                   asp-route-sortColumn="UnitsInStock"
                   asp-route-sortOrder="asc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
                <a asp-page="/Category"
                   asp-route-sortColumn="UnitsInStock"
                   asp-route-sortOrder="desc"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Category
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model.Products)
        {
            <tr>
                <td>@prod.Name</td>
                <td>@prod.UnitPrice</td>
                <td>@prod.UnitInStock</td>
                <td><a asp-page="/Product" asp-route-id="@prod.Id" class="btn btn-primary">View</a></td>
            </tr>
        }
    </tbody>
</table>


